<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/stylesheets::head">

<body>

<!-- ======= Header ======= -->
<header th:replace="fragments/header::header"></header>

<!-- ======= Sidebar ======= -->
<aside th:replace="fragments/sidebar::sidebarMenu"></aside>

<main class="main " id="main">

    <div class="pagetitle">
        <h1>Revenue</h1>
    </div>

    <section class="section ">
        <div class="row">
            <div>
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title align-center">Elements of Revenue</h5>
                        <form method="POST" th:action="@{/revenue}" th:object="${revenue}">

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="companyRevenue">Total revenue</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           id="companyRevenue"
                                           name="companyRevenue"
                                           placeholder="Enter total revenue"
                                           required
                                           th:classappend="${#fields.hasErrors('companyRevenue') ? 'is-invalid' : ''}"
                                           th:field="*{companyRevenue}"
                                           th:value="${revenue.companyRevenue}"
                                           type="number"
                                    >
                                    <div class="invalid-feedback" style="font-size: 15px"
                                         th:each="error : ${#fields.errors('companyRevenue')}" th:text="${error}">
                                    </div>
                                </div>
                            </diV>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="revenuePurpose">Purpose of this
                                    revenue</label>
                                <div class="col-sm-10">
                                    <select class="form-control"
                                            id="revenuePurpose"
                                            name="revenuePurpose"
                                            required
                                            th:classappend="${#fields.hasErrors('revenuePurpose') ? 'is-invalid' : ''}"
                                            th:field="*{revenuePurpose}">
                                        <option value="">Select revenue purpose</option>
                                        <option value="Developing"
                                                th:selected="${revenue.revenuePurpose == 'Developing'}">Developing
                                        </option>
                                        <option value="Testing" th:selected="${revenue.revenuePurpose == 'Testing'}">
                                            Testing
                                        </option>
                                        <option value="Maintenance"
                                                th:selected="${revenue.revenuePurpose == 'Maintenance'}">Maintenance
                                        </option>
                                        <option value="Deployment"
                                                th:selected="${revenue.revenuePurpose == 'Deployment'}">Deployment
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" style="font-size: 15px"
                                         th:each="error : ${#fields.errors('revenuePurpose')}" th:text="${error}">
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="revenueGettingDate">Revenue Getting
                                    Date</label>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           id="revenueGettingDate"
                                           name="revenueGettingDate"
                                           placeholder="Getting Date"
                                           required
                                           th:classappend="${#fields.hasErrors('revenueGettingDate') ? 'is-invalid' : ''}"
                                           th:field="*{revenueGettingDate}"
                                           th:value="${revenue.revenueGettingDate}"
                                           type="date"
                                    >
                                    <div class="invalid-feedback" style="font-size: 15px"
                                         th:each="error : ${#fields.errors('revenueGettingDate')}" th:text="${error}">
                                    </div>
                                </div>
                            </diV>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="revenuePurpose">Revenue from</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="revenueFrom" name="revenueFrom" required
                                            th:classappend="${#fields.hasErrors('revenueFrom') ? 'is-invalid' : ''}"
                                            th:field="*{revenueFrom}">
                                        <option value="">Select revenue getting from</option>
                                        <option value="Individual" th:selected="${revenue.revenueFrom == 'Individual'}">
                                            Individual
                                        </option>
                                        <option value="Company" th:selected="${revenue.revenueFrom == 'Company'}">
                                            Company
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" style="font-size: 15px"
                                         th:each="error : ${#fields.errors('revenueFrom')}" th:text="${error}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-center">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer class="main-footer" th:replace="fragments/footer::footer"></footer>

<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<div th:replace="fragments/scripts :: scripts"></div>

</body>

</html>